extends layout

block content
  h1= title
  h3 Welcome to #{title}

  ul
    li
      a(href="http://expressjs.com/" target="_blank") Express Documentation
    li
      a(href="http://naltatis.github.io/jade-syntax-docs/" target="_blank") Jade Syntax Documentation
